@{
    ViewBag.Title = "Products";
}
@* @model ProductListModel<ElectricProduct> *@

<h2>Каталог</h2>

<div class="btn-group" style="margin: 0px 0px 10px 0px">
    <ul class="nav">
        <li class="nav-item dropdown">
            <a class="btn btn-primary dropdown-toggle"
               data-bs-toggle="dropdown"
               role="button"
               aria-expanded="false">
               @ViewData["currentCategory"]
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item"
                        asp-controller="Product"
                        asp-route-category="all"
                        asp-route-page="1" >Все</a>
                </li>
                @foreach (var item in (List<Category>)ViewData["categories"])
                {
                    <li>
                        <a class="dropdown-item"
                            asp-controller="Product"
                            asp-route-category="@item.NormalizedName"
                            asp-route-page="1">
                                @item.Name
                        </a>
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>


<partial name="_ProductsListPartial" />

