@{
    var controller = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower() ?? String.Empty;
    var area = ViewContext.RouteData.Values["area"]?.ToString()?.ToLower() ?? String.Empty;
}

<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Web_253501_Rabets</a>
<div class="navbar-nav">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-item nav-link @(controller=="home"?"active":"")">ЛР 1</a>
    @* <a asp-area="" asp-controller="Product" asp-action="Index" asp-route-category="all" asp-route-page="1" class="nav-item nav-link @(controller=="product"?"active":"")">Каталог</a> *@
    <a asp-area="" asp-controller="Product" asp-action="Index" asp-route-category="all" asp-route-page="1" class="nav-item nav-link @(controller=="product"?"active":"")">Каталог</a>
@if (User.IsInRole("POWER-USER")) {
    <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="nav-item nav-link @(area=="admin"?"active":"")">Администрирование</a>
}
</div>
