@{
    var name = @User
        .Claims
        .FirstOrDefault(c => c.Type.Equals("preferred_username", 
                        StringComparison.OrdinalIgnoreCase))?
        .Value;
    var avatar = @User
        .Claims
        .FirstOrDefault(c => c.Type.Equals("avatar",
                        StringComparison.OrdinalIgnoreCase))?
        .Value;
}


@if (User.Identity.IsAuthenticated) 
{
    <div class="dropdown nav-color" style="margin-left: 70vh">
        @await Component.InvokeAsync("CartSummary")
        <button class="btn btn-secondary dropdown-toggle"
                type="button" 
                id="dropdownMenuButton"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            @name
            <img src="@avatar"
                 height="30"
                 alt="User"
                 class="rounded nav-color" />
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left: 160px">
            <li>
                <span class="dropdown-item-text">
                    <img src="@avatar"
                         alt="User"
                         style="max-height: 200px; max-width: 150px; border-radius: 20px"/>
                    @name
                </span>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" class="form-inline">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        </ul>
    </div>
}
else
{
    <div class="nav-color" style="margin-left: 45vh">
        <div class="navbar-nav">
            <a asp-controller="Account" asp-action="Register" class="nav-item nav-link">Register</a>
            <a asp-controller="Account" asp-action="Login" class="nav-item nav-link">Login</a>
        </div>
    </div>
}
